{% block layout %}
        <div class="row">
            <div class="col-md-3">
                {% block sidebar %}
                    <ul class="nav nav-pills flex-column mb-auto">
                        <li class="nav-item">
                            <a href="#" class="nav-link active" aria-current="page">
                                Test...
                            </a>
                        </li>
                    </ul>
                {% endblock %}
            </div>
            <div class="col-md-9">
                {% block content %}

                {% endblock %}
            </div>
        </div>
{% endblock %}