{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController! - {{ parent() }}{% endblock %}

{% block content %}
<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>/Users/nplhse/Projekte/learning-js/src/Controller/DefaultController.php</code></li>
        <li>Your template at <code>/Users/nplhse/Projekte/learning-js/templates/default/index.html.twig</code></li>
    </ul>
</div>
{% endblock %}
